@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: -19px -19px;
}